* { 
    font-family: sans-serif;
}
.parent{
padding: 10px;
margin: 20px;
width: 400px;
height: 500px;
position: relative;
background-color: bisque;

}
.note{
    position: absolute;
    padding: 10px;
    width: 200px;
    opacity: 0.9;
}
#heading {
    position: relative;
    top: 0px;
    left: 20px;
}
.task1 {
    background-color: orange;
    top: 120px;
    left: 50px;
  }
  .task2 {
    background-color: greenyellow;
    top: 230px;
    left: 150px;
  }
  
  .task3 {
    background-color: royalblue;
    color: white;
    top: 360px;
    left: 80px;
  }
  